@font-face {
  font-family: "Shadow-Hand"; /* Name of your font */
  src: url("./fonts/ShadowHand.ttf") format("woff2"); /* Fallback */
  font-weight: normal; /* Specify weight */
  font-style: normal; /* Specify style (normal, italic, etc.) */
}

body {
  font-family: sans-serif;
  background-color: #3b3b3b;
  display: flex; /* Use flexbox for the body */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full height of the viewport */
  margin: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.727);
  display: flex;
  flex-direction: column;
}

.dropdown {
  margin: 0% 50%;
}
h1 {
  font-family: "Shadow-Hand";
  text-align: center;
  font-size: 60px;
  letter-spacing: 10px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 40%;
  margin-right: 10px;
}
input,
button {
  border-radius: 10px;
}

button {
  padding: 10px;
  background-color: #0f0f0f;
  color: white;
  border: none;
  cursor: pointer;
  margin: 2px;
}

button:hover {
  background-color: #4cae4c;
}

ul {
  list-style: none;
  padding: 0;
}
#password-list{
  display: flex;
  justify-content: center;
}
li {
  display: flex;
  justify-content: center;
  padding: 10px;
  /* width: 100%; */
  background: #e9ecef;
  margin: 5px ;
  border-radius: 5px;
}

.strike {
  text-decoration: line-through;
  color: red;
}

@media only screen and (max-width: 600px) {
  .container{
    display: flex;
    padding: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-bottom: 20px;
  }
  input {
    padding: 10px;
    /* width: 95%; */
  }
  button {
    padding: 10px;
    background-color: #0f0f0f;
    color: white;
    border: none;
    cursor: pointer;
    margin:8px;
    width: 20%;
  }
}